---

---

<footer class="pt-16 pb-12 sm:pt-24 sm:pb-16">
    <p class="text-sm">
        <a href="https://www.linkedin.com/in/andrew-bush-b7923513a" class="decoration-dashed text-primary underline-offset-8"> Andrew on Linkedin </a>
    </p>
</footer>
